.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 20px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.routeHome {
  display: flex;
  justify-content: center;
}

.container a {
  text-decoration: none;
  color: #b2b2b2;
  font-size: 14px;
}
