.container {
  width: 464px;
  border-radius: 36px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: black;
  color: white;
  padding: 1.5rem 2rem;
}

.contents {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.name {
  border: none;
  border-radius: 20px;
  border-style: dashed;
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
}

.name:focus {
  outline: none;
}

.submit {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.submit:hover {
  color: #f6ba4b;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.level {
  flex: 1;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  border: none;
  background: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.level:focus {
  background-color: #f6ba4b;
  color: black;
}
