@font-face {
  font-family: "godoRoundedR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/godoRoundedR.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
      format("woff2"),
    url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
      format("woff");
}

h1 {
  font-family: "godoRoundedR";
  font-size: 60px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

* {
  font-family: "Godo";
}
