html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #eeeeee;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  height: auto;
}
